<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The Color Locker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <% if session[:user_id] %>
            <li class="nav-item">
                <a class="nav-link" href="<%= new_palette_path %>">New Palette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= new_project_path %>">New Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= palettes_path %>">All Palettes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= projects_path %>">All Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= logout_path %>">Logout</a>
            </li>
        <% else %>
            <li class="nav-item">
                <a class="nav-link" href="<%= signup_path %>">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= login_path %>">Login</a>
            </li>
        <% end %>
    </ul>
    </div>
</nav>