<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Welcome back <%= User.find_by_id(session[:user_id]).username %>!</h1>
    </div>
</div>
<br>
<% if @projects.present? %>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Here are the current projects</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <% @projects.each do |project| %>
            <div class="card" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= project.title %></h5>
                    <h6 class="card-title">Created by: <%= project.user.username %></h6>
                    <p class="card-text"><%= project.description %></p>
                    <div class="row">
                        <div class="col-8 text-left">
                            <a href="<%= project_path(project) %>" class="card-link">View</a>
                            <% if project.user.id == session[:user_id] %>
                                <a href="<%= edit_project_path(project) %>" class="card-link">Edit</a>
                            <% end %>
                        </div>
                        <div class="col-4 text-right">
                            <% if project.palette.present? %>
                                <%= link_to project.palette.name, palette_path(project.palette) %>
                            <% else %>
                                (No Palette)
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <br>
<% else %>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>How to get started</h3>
            <p>The first step is by creating a palette using the "New Palette" link in the navigation.  
            A palette will contain all the colors being used for a single project or multiple projects.
            After you have a palette, the next step is to create a project.  
            A project is for organizational purposes and should represent the project you are working on.
            Finally, you can add your colors to a palette.  You can always change the colors in
            a palette at any time.</p>
        </div>
    </div>
    <br>
<% end %>
<div class="row">
    <div class="col-lg text-center">
        <%= link_to "Create a new Palette", new_palette_path %>
    </div>
</div>